* {
  font-family: 'JetBrains Mono';
  font-size: 100%;
}

.custom-light {
  background-color: white;
  height: 100vh;
  --background: hsl(17, 82%, 94%);
  --input: hsl(17, 68%, 82%);
  --color: hsl(17, 40%, 21%);
  --label: hsl(17, 23%, 62%);
  --placeholder: hsl(17, 82%, 94%);
}

.custom-dark {
  background-color: black;
  height: 100vh;
  --background: hsl(18, 17%, 15%);
  --input: hsl(13, 20%, 32%);
  --color: hsl(16, 100%, 88%);
  --label: hsl(11, 37%, 62%);
  --placeholder: hsl(16, 49%, 91%);
}

.cls-1 {
  fill: var(--color);
  stroke-width: 0px;
}

.cls-2 {
  fill: none;
  stroke: var(--color);
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.mantine-Slider-bar {
  background-color: var(--input);
}

.mantine-Slider-thumb {
  background-color: var(--color);
  border-color: var(--color);
  color: var(--color);
}

.mantine-Input-input {
  font-family: 'Poppins';
  font-size: small;
}

.mantine-Input-input::placeholder {
  color: var(--placeholder);
  font-family: 'Poppins';
  font-style: italic;
  font-size: small;
}

.mantine-Input-input:focus {
  border-color: var(--color);
}

.mantine-ActionIcon-root {
  color: var(--color);
}

.mantine-Slider-label {
  color: var(--background);
  background-color: var(--color);
}

.mantine-Slider-markLabel {
  font-size: 10px;
}

.mantine-Select-itemsWrapper {
  background-color: var(--background);
}

.mantine-Select-item {
  font-family: 'JetBrains Mono';
  font-size: small;
}

.mantine-Select-item[data-selected='true'],
.mantine-Select-item[data-selected='true']:hover {
  background-color: var(--input);
}

.mantine-1fzet7j,
.mantine-1mo4y8r {
  margin-bottom: 8px;
  font-size: xx-small;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--label);
}
