* {
  font-family: 'JetBrains Mono';
}

.custom-light {
  background-color: white;
  height: 100vh;
  --background: hsl(17, 82%, 94%);
  --input: hsl(17, 68%, 82%);
  --color: hsl(17, 40%, 21%);
}

.custom-dark {
  background-color: black;
  height: 100vh;
  /* --background: hsl(265, 50%, 15%);
  --input: hsl(265, 40%, 30%);
  --color: hsl(265, 90%, 90%); */
  --background: hsl(265, 0%, 15%);
  --input: hsl(17, 0%, 50%);
  --color: hsl(17, 90%, 90%);
}

.cls-1 {
  fill: var(--color);
  stroke-width: 0px;
}

.cls-2 {
  fill: none;
  stroke: var(--color);
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.mantine-Slider-bar {
  background-color: var(--input);
}

.mantine-Slider-thumb {
  background-color: var(--color);
  border-color: var(--color);
  color: var(--color);
}

.mantine-Input-input {
  font-family: 'Poppins';
}

.mantine-Input-input::placeholder {
  color: var(--background);
  font-family: 'Poppins';
}

.mantine-Input-input:focus {
  border-color: var(--color);
}

.mantine-ActionIcon-root {
  color: var(--color);
}

.mantine-Slider-label {
  color: var(--background);
  background-color: var(--color);
}

.mantine-Slider-markLabel {
  font-size: 10px;
}

.mantine-Select-itemsWrapper {
  background-color: var(--background);
}

.mantine-Select-item {
  font-family: 'JetBrains Mono';
  font-size: small;
}

.mantine-Select-item[data-selected='true'],
.mantine-Select-item[data-selected='true']:hover {
  background-color: var(--input);
}
